@{
    ViewData["Title"] = "Home Page";
}

<style>
    .jumbotron {
        margin-top: 100px;
        text-align: center;
    }
</style>

<div class="jumbotron">
    <h1 class="display-4">Welcome to BookMart!</h1>
    <p class="lead">Your go-to destination for buying and selling books.</p>
    <hr class="my-4">
    <p>Explore our wide collection of books and find your next great read.</p>
    <a href="/Product/Index" class="btn btn-primary btn-md">Browse Books</a>
</div>

