@model User

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-primary text-center">Register</h2>
            <hr />
            <form method="post">
                <div class="mb-3 row p-1">
                    <label for="username" class="p-0">Username</label>
                    <input type="text" id="username" name="username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label for="password" class="p-0">Password</label>
                    <input type="password" id="password" name="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary form-control">Register</button>
                    </div>
                    <div class="col-md-8">
                        <a asp-controller="User" asp-action="Login" class="btn btn-secondary border form-control">
                            Already have an account ?<span class="" style="color:green"> Login</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
